body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    background-color: aqua;
  }

  h1{
    align-items: center;
    text-align: center;
    margin-left: 450px;
  }
  .row {
    display: flex;
  }
  .col {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
  }

  .container{
    margin-left:32rem;
    margin-top: 5rem;
  }


